/* Estilo prueba */
body {
    font-family: 'Roboto', sans-serif; /* Tipografía */
    margin: 20px;
    background-color: var(--background-color); /* variables CSS */
    color: var(--text-color); /* variables CSS */
}

/* Estilos para el encabezado */
header {
    background-color: var(--header-background); /* variables CSS */
    color: var(--header-text-color); /* variables CSS */
    padding: 20px;
    text-align: center;
}

/* Estilos para la navegación */
nav ul {
    list-style-type: none; /* Eliminar viñetas de la lista */
    padding: 0;
}

nav ul li {
    display: inline; /* Mostrar elementos en línea */
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none; /* Quitar subrayado de los enlaces */
    color: var(--link-color); /* variables CSS */
}

/* Estilos para el contenido principal */
main {
    margin: 20px 0;
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: var(--header-text-color); /* variables CSS */
}

footer {
    background-color: var(--footer-background); /* variables CSS */
    color: var(--footer-text-color); /* variables CSS */
    padding: 20px;
    text-align: center;
}

/* Colores */
:root {
    --background-color: rgb(248, 249, 250);
    --text-color: rgb(73, 80, 87);
    --header-background: rgb(52, 58, 64);
    --header-text-color: rgb(255, 255, 255);
    --link-color: rgb(0, 123, 255);
    --footer-background: rgb(33, 37, 41);
    --footer-text-color: rgb(255, 255, 255);
}

/* Google Fonts tipografía Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
