// Paleta de Colores de la Marca
$color-brand-blue: #3953a4;
$color-brand-aqua: #5fc1a5;

// Colores de Fondo (Background)
$color-bg-gray: #ededed;
$color-bg-light-gray: #adaeb1;

// Colores de Tipografía
$font-color-dark-blue: #2d3b4a;
$font-color-light-blue: #4a93aa;